// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

p{
    margin-top:15px !important;
}

.css-1irxdah-MuiTableRow-root.Mui-selected {
     text-decoration: line-through !important;
    color: red !important;
}

